.freegames {
  /* background: #2a2a2a; */
  background: #2a2a2a !important;
  padding: 2em 3em;
  border-radius: 5px;
}

.flexheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  background: #2a2a2a !important;
}
.freegames .freeGames-title {
  margin: 200px !important;
  padding: 500px !important;
  background: #2a2a2a !important;
}
.freegames svg {
  filter: invert(0%);
  transform: scale(1.7);
  width: 2rem;
  margin-right: 0.5em;
  background: #2a2a2a !important;
  color: white;
}

.btnOutline {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: var(--color3) solid 1px;
  padding: 0.6em 1.2em;
  font-size: 0.8rem;
  border-radius: 5px;
  transition: 0.2s;
  background: #2a2a2a !important;
  border: 1px solid white;
}

.btnOutline:hover {
  background: rgb(80, 80, 80) !important;
}

.game {
  text-decoration: none;
  color: var(--color3);
  line-height: 20px;
  background: #2a2a2a !important;
}

.freegames .gameimg {
  position: relative;
}

.freegames .game.freenow .gameimg::before {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(0, 119, 255);
  content: "FREE NOW";
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0 0 5px 5px;
  padding: 2px 0;
  font-weight: bold;
}

.freegames :is(h1, h4) {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: normal;
  background: #2a2a2a !important;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5em;
  background: #2a2a2a !important;
}

.flextext {
  margin-top: 1em;
  color: white;
  background: #2a2a2a !important;
}
.flextext-bg {
  background: #2a2a2a !important;
}

.freegames img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  background: #2a2a2a !important;
}

@media (max-width: 640px) {
  .flex {
    flex-direction: column;
  }
  .btnOutline {
    padding: 10px;
    margin-left: 15px;
    font-size: 8px;
  }
  .freegames {
    padding: 50px;
  }
  .flexheader {
    vertical-align: baseline;
  }
  .freegames svg {
    /* margin-top: 10px; */
    width: 1.2rem;
  }
  .freeGTXT {
    font-size: 12px;
  }

  /* .freeGTXT {
    font-size: 10px !important;
    display: none !important;
  } */
}
